body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body, input, textarea, button {
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

#app {
  margin: auto;
}
@media (max-width: 576px) {
  #app {
    width: 80%;
    margin-top: 40px;
  }
}
@media (min-width: 577px) {
  #app {
    width: 500px;
    margin-top: 100px;
  }
}

#generatedPassword {
  width: 100%;
  height: 70px;
  border: none;
  outline: none;
  padding: 0 20px;
  border-radius: 4px;
  text-align: center;
  background-color: #efefef;
}

.option1 {
  height: 70px;
  overflow: hidden;
  margin-top: 40px;
}
.option2 {
  height: 30px;
  overflow: hidden;
  margin-top: 20px;
}
.option1:after, .option2:after {
  content: '';
  clear: both;
  display: table;
}

.optionCheckboxWrapper {
  float: left;
  cursor: pointer;
  user-select: none;
}
.optionCheckboxWrapper.checked .optionCheckbox {
  background-color: #d5d5d5;
}
.optionCheckbox {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: #efefef;
}
.optionCheckboxBigTitle {
  float: left;
  margin-left: 16px;
}
.optionCheckboxSmallTitle {
  float: right;
  line-height: 30px;
}

.optionCheckboxBigTitle, .optionTitle {
  line-height: 30px;
  text-transform: uppercase;
}

.optionTitle {
  float: left;
}
.optionValue {
  float: right;
  line-height: 30px;
}
.optionRange {
  width: 100%;
  height: 30px;
  font-size: 0;
  outline: none;
  margin-top: 10px;
  border-radius: 4px;
  -webkit-appearance: none;
  background-color: #efefef;
}
.optionRange::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-appearance: none;
  background-color: #d5d5d5;
}
